.details-panel-container {
  position: relative;
  z-index: 1;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
  color: #444;
}

.properties-content {
  flex: 1;
  overflow-y: auto;
}

.setting-option .label,
.setting-option .label-value {
  min-width: 125px;
  color: #666;
}

.setting-option select:hover {
  border-color: #1587f9;
  background-color: #ffffff;
  color: #111;
}

.setting-option select:focus {
  outline: none;
  border-color: #1587f9;
  background-color: #ffffff;
  color: #111;
}

.setting-option .text-input {
  width: calc(20ch + 6px);
  padding: 4px 5px;
  font-size: 12.5px;
  color: #444;
  background-color: white;
  border: 1px solid transparent;
  text-align: left;
}

.setting-option .text-input:hover {
  background-color: #ffffff;
}

.setting-option .text-input:focus {
  background-color: #ffffff;
  border-color: #1587f9;
  outline: none;
}

.setting-option .number-input {
  width: 7.5ch;
  padding: 2px;
  font-size: 12.5px;
  color: #1587f9;
  background-color: #ffffff00;
  border: 1px solid transparent;
  text-align: left;
}

.setting-option .number-input:focus {
  background-color: white;
  outline: none;
}

.setting-option .number-input::-webkit-outer-spin-button,
.setting-option .number-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.uuid-input {
  width: 250px;
  padding: 4px 6px;
  font-size: 12px;
  color: #888;
  background-color: #fafbfc;
  border: 1px solid #e6e8eb;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: default;
}

.center-text {
  margin-top: 20px;
  text-align: center;
}

.setting-option .color-input {
  width: 3em;
  height: 1.5em;
  border: none;
  background: none;
  padding: 0;
  border: 0;
  vertical-align: middle;
}