/* disable text selection across the whole website */
* {
  user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}

body, html {
  margin: 0;
  overflow: hidden;
}

.canvas-container {
  width: auto;
  height: auto;
  position: relative;
  width: 100%;
  height: 100%;
}

#overlay-root {
  position: fixed;
  inset: 0;
  pointer-events: none;
  z-index: 1000;
}