.toolbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 9;
}

.toolbar-button img {
  width: 17px;
  height: 17px;
  object-fit: contain;
  opacity: 0.5;
  transition: opacity 0.15s;
}

.toolbar-button {
  width: 32px;
  height: 32px;
  padding: 0px;
  position: relative;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.15s, box-shadow 0.15s;
}

.toolbar-button:hover img,
.toolbar-button.active img {
  opacity: 0.7;
}

.toolbar-button:hover {
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.toolbar-button.active {
  background-color: #ddd;
}

.toolbar-button::after {
  content: attr(data-tooltip);
  position: absolute;
  bottom: 4px;
  left: 0px;
  transform: translateX(40px);

  background: #ffffff;
  color: #222;
  padding: 4px 8px;
  border-radius: 2px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-out;
}

.toolbar-button:hover::after {
  opacity: 1;
}

.toolbar-spacer {
  height: 8px;
  width: 100%;
}

.toolbar-button[data-tool="extrude"] img,
.toolbar-button[data-tool="loopcut"] img,
.toolbar-button[data-tool="knife"] img {
  width: 20px;
  height: 20px;
}

.mesh-tools {
  display: flex;
  flex-direction: column;
}

.mesh-tools.hidden {
  display: none;
}