.toolbar {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 70px;
  left: 10px;
  z-index: 9;
}

.toolbar-button img {
  width: 17px;
  height: 17px;
  object-fit: contain;
  opacity: 0.5;
}

.toolbar-button {
  width: 32px;
  height: 32px;
  padding: 0px;
  border: none;
  cursor: pointer;
  background-color: #ddd;
}

.toolbar-button:hover {
  background-color: #f8f8f8;
}

.toolbar-button.active {
  background-color: #f8f8f8;
}

.toolbar-spacer {
  height: 8px;
  width: 100%;
}

.toolbar-button[data-tool="extrude"] img,
.toolbar-button[data-tool="loopcut"] img,
.toolbar-button[data-tool="knife"] img {
  width: 20px;
  height: 20px;
}

.mesh-tools {
  display: flex;
  flex-direction: column;
}

.mesh-tools.hidden {
  display: none;
}