.viewport-controls {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 40px;
  left: 5px;
  z-index: 8;
  justify-content: space-between;
}

.camera-select {
  padding: 1px;
  margin-left: 10px;
}

.shading-select {
  padding: 1px;
  margin-left: 10px;
}

.snapping-to-select {
  padding: 1px;
  margin-left: 0px;
}

.transform-orientation-select {
  padding: 1px;
  margin-left: 10px;
}

.mode-select {
  padding: 1px;
}

.right-controls-container {
  display: flex;
  align-items: center;
  gap: 0px;
  margin-left: 5px;
  z-index: 9;
}

.selection-mode {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 142px;
  z-index: 9;
}

.selection-mode.hidden {
  display: none;
}

.selection-button {
  width: 20px;
  height: 20px;
  padding: 0px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.selection-button img {
  width: 18px;
  height: 18px;
  opacity: 0.5;
}

.selection-button:hover {
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.selection-button.active {
  background-color: #ddd;
}

.selection-button:hover img,
.selection-button.active img {
  opacity: 0.7;
}

.selection-button::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(8px);

  background: #ffffff;
  color: #222;
  padding: 4px 8px;
  border-radius: 2px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-out;
  z-index: 20;
}

.selection-button:hover::after {
  opacity: 1;
}

#selectionBox {
  position: absolute;
  border: 1px solid #FFD800;
  background: rgba(255, 216, 0, 0.18);;
  pointer-events: none;
  display: none;
}

.middle-controls-container {
  display: flex;
  align-items: center;
  gap: 0px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.snap-button {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #f8f8f8;

  display: flex;
  align-items: center;
  justify-content: center;
}

.snap-button.active {
  background-color: #ddd;
}

.snap-button .snap-on {
  display: none;
}

.snap-button.active .snap-off {
  display: none;
}

.snap-button.active .snap-on {
  display: block;
}

.snap-button img {
  width: 18px;
  height: 18px;
  opacity: 0.6;
}

.snap-button:hover img {
  opacity: 0.8;
}

/* X-Ray Button */
.xray-button {
  width: 20px;
  height: 20px;

  margin-left: 10px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.xray-button img {
  width: 18px;
  height: 18px;
  opacity: 0.6;
}

.xray-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.xray-button:hover img {
  opacity: 0.8;
}

.xray-button.active {
  background-color: #ddd;
  opacity: 1.0;
}

.xray-button.active img {
  opacity: 0.7;
}

.xray-button.disabled {
  pointer-events: none;
  opacity: 0.3;
  background-color: #ffffff;
}

.xray-button.disabled img {
  opacity: 0.3;
}