.viewport-controls {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 40px;
  left: 5px;
  z-index: 15;
  justify-content: space-between;
}

.left-controls-container {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 4px;
  margin-left: 0px;
  z-index: 9;
}

.camera-select {
  padding: 1px;
  margin-left: 10px;
}

.shading-select {
  padding: 1px;
  margin-left: 10px;
}

.snapping-to-select {
  padding: 1px;
  margin-left: 0px;
}

.transform-orientation-select {
  padding: 1px;
  margin-left: 10px;
}

.mode-select {
  padding: 1px;
}

.right-controls-container {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 4px;
  margin-left: 5px;
  z-index: 9;
}

.selection-mode {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-left: 10px;
  z-index: 9;
}

.selection-mode.hidden {
  display: none;
}

.selection-button {
  width: 20px;
  height: 20px;
  padding: 0px;
  border: none;
  cursor: pointer;
  background-color: #ffffff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.selection-button img {
  width: 18px;
  height: 18px;
  opacity: 0.5;
}

.selection-button:hover {
  background-color: #f8f8f8;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.selection-button.active {
  background-color: #ddd;
}

.selection-button:hover img,
.selection-button.active img {
  opacity: 0.7;
}

#selectionBox {
  position: absolute;
  border: 1px solid #FFD800;
  background: rgba(255, 216, 0, 0.18);;
  pointer-events: none;
  display: none;
}

.middle-controls-container {
  display: flex;
  align-items: flex-start;
  gap: 0px;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.snap-button {
  width: 20px;
  height: 20px;
  margin-left: 10px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #f8f8f8;

  display: flex;
  align-items: center;
  justify-content: center;
}

.snap-button.active {
  background-color: #ddd;
}

.snap-button .snap-on {
  display: none;
}

.snap-button.active .snap-off {
  display: none;
}

.snap-button.active .snap-on {
  display: block;
}

.snap-button img {
  width: 18px;
  height: 18px;
  opacity: 0.6;
}

.snap-button:hover img {
  opacity: 0.8;
}

/* X-Ray Button */
.xray-button {
  width: 20px;
  height: 20px;

  margin-left: 10px;
  padding: 0;
  border: none;
  cursor: pointer;
  background-color: #ffffff;

  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.xray-button img {
  width: 18px;
  height: 18px;
  opacity: 0.6;
}

.xray-button:hover {
  background-color: #f0f0f0;
  box-shadow: 0 1px 3px rgba(0,0,0,0.08);
}

.xray-button:hover img {
  opacity: 0.8;
}

.xray-button.active {
  background-color: #ddd;
  opacity: 1.0;
}

.xray-button.active img {
  opacity: 0.7;
}

.xray-button.disabled {
  pointer-events: none;
  opacity: 0.3;
  background-color: #ffffff;
}

.xray-button.disabled img {
  opacity: 0.3;
}

.tooltip-wrapper {
  position: relative;
  display: inline-block;
}

.tooltip-wrapper::after,
.viewport-controls button::after {
  font-family: sans-serif;
  font-size: 13px;

  content: attr(data-tooltip);
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%) translateY(8px);

  background: #ffffff;
  color: #222;
  padding: 4px 8px;
  border-radius: 2px;
  white-space: nowrap;

  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-out;
  z-index: 10;
}

.tooltip-wrapper:hover::after,
.viewport-controls button:hover::after {
  opacity: 1;
}

.tooltip-wrapper:has(select:focus)::after {
  opacity: 0;
}

.viewport-controls .menu-item {
  background-color: #ffffff;
  color: #666;
  font-family: sans-serif;
  font-size: 14px;
  user-select: none;
  padding: 0 10px;
  margin-left: 10px;
  position: relative;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e6e8eb;
  z-index: 30;
  height: 18px;
  padding-top: 1px;
}

.viewport-controls .menu-item:hover {
  background-color: #f1f3f5;
  color: #222;
}

.viewport-controls .menu-item.active > .submenu {
  visibility: visible;
}

.viewport-controls .submenu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 1px;
  padding: 0px;
}

.viewport-controls .submenu li {
  line-height: 30px;
  padding: 0 8px;
  gap: 6px;
}

.viewport-controls .submenu .divider {
  height: 1px;
  margin: 4px 0;
  background-color: #ccc;
  pointer-events: none;
}

.viewport-controls .submenu-item {
  position: relative;
}

.viewport-controls .submenu.right {
  position: absolute;
  top: -6px;
  left: 100%;
  min-width: 160px;
  visibility: hidden;
}

.viewport-controls .submenu-item:hover > .submenu.right {
  visibility: visible;
}

.top-controls-row {
  display: flex;
  flex-direction: row;
  align-items: flex;
  gap: 4px;
}

.tool-input-display {
  position: absolute;
  right: 0;
  font-family: sans-serif;
  white-space: pre;
  font-size: 13px;
  color: #ffffff;
  background: rgba(48, 48, 48, 0.3);
  border: 1.5px solid rgba(46, 132, 170, 0.8);
  padding: 6px 18px;
  border-radius: 0px;
  margin-top: 4px;
  min-width: 160px;
  text-align: center;
  user-select: none;
  pointer-events: none;
  display: none;
}

.tool-input-display.active {
  display: block;
}