.viewport-controls {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 40px;
  left: 5px;
  z-index: 8;
  justify-content: space-between;
}

.camera-select {
  padding: 1px;
  margin-left: 10px;
}

.shading-select {
  padding: 1px;
  margin-left: 10px;
}

.mode-select {
  padding: 1px;
}

.right-controls-container {
  margin-left: 5px;
}