.viewport-controls {
  display: flex;
  position: absolute;
  flex-direction: row;
  top: 40px;
  left: 5px;
  z-index: 8;
  justify-content: space-between;
}

.camera-select {
  padding: 1px;
  margin-left: 10px;
}

.shading-select {
  padding: 1px;
  margin-left: 10px;
}

.mode-select {
  padding: 1px;
}

.right-controls-container {
  margin-left: 5px;
  z-index: 9;
}

.selection-mode {
  display: flex;
  flex-direction: row;
  position: absolute;
  margin-left: 142px;
  z-index: 9;
}

.selection-mode.hidden {
  display: none;
}

.selection-button {
  width: 20px;
  height: 20px;
  padding: 0px;
  border: none;
  cursor: pointer;
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.selection-button img {
  width: 18px;
  height: 18px;
  opacity: 0.5;
}

.selection-button:hover {
  background-color: #f8f8f8;
}

.selection-button.active {
  background-color: #f8f8f8;
}

#selectionBox {
  position: absolute;
  border: 1px solid #FFD800;
  background: rgba(255, 216, 0, 0.18);;
  pointer-events: none;
  display: none;
}