<div class="details-panel">
  <div class="panel-tabs">
    <button class="tab active" data-tab="object">OBJECT</button>
    <button class="tab" data-tab="material">MATERIAL</button>
  </div>

  <div class="properties-content" id="object-tab">
    <div class="center-text" id="object-empty-message">Select an object to view details.</div>
    <ul class="project-settings-list" id="object-properties-content"></ul>
  </div>
  <div class="properties-content" id="material-tab">
    <div>Material</div>
  </div>
</div>