<div class="menu-bar">
  <ul>
    <li class="menu-item">File
      <ul class="submenu">
        <li class="submenu-item">
          New <span class="arrow">&#9656;</span>
          <ul class="submenu right">
            <li>Empty</li>
            <li class="divider"></li>
            <li>Scene</li>
            <li>Camera</li>
          </ul>
        </li>
        <li>Open</li>
        <li>Save</li>
        <li class="divider"></li>
        <li>Import</li>
        <li class="submenu-item">
          Export <span class="arrow">&#9656;</span>
          <ul class="submenu right">
            <li>DRC</li>
            <li>GLB</li>
            <li>GLTF</li>
            <li>OBJ</li>
            <li>PLY</li>
            <li>PLY (BINARY)</li>
            <li>STL</li>
            <li>STL (BINARY)</li>
            <li>USDZ</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="menu-item">Edit
      <ul class="submenu">
        <li>Undo
          <span class="shortcut">CTRL+Z</span>
        </li>
        <li>Redo
          <span class="shortcut">CTRL+SHIFT+Z</span>
        </li>
        <li class="divider"></li>
        <li>Center</li>
        <li>Clone</li>
        <li>Delete
          <span class="shortcut">DEL</span>
        </li>
      </ul>
    </li>
    <li class="menu-item">Add
      <ul class="submenu">
        <li data-group="Group">Group</li>
        <li class="submenu-item">
          Mesh <span class="arrow">&#9656;</span>
          <ul class="submenu right">
            <li data-geometry="Box">Box</li>
            <li data-geometry="Capsule">Capsule</li>
            <li data-geometry="Circle">Circle</li>
            <li data-geometry="Cylinder">Cylinder</li>
            <li data-geometry="Dodecahedron">Dodecahedron</li>
            <li data-geometry="Icosahedron">Icosahedron</li>
            <li data-geometry="Lathe">Lathe</li>
            <li data-geometry="Octahedron">Octahedron</li>
            <li data-geometry="Plane">Plane</li>
            <li data-geometry="Ring">Ring</li>
            <li data-geometry="Sphere">Sphere</li>
            <li data-geometry="Tetrahedron">Tetrahedron</li>
            <li data-geometry="Torus">Torus</li>
            <li data-geometry="TorusKnot">TorusKnot</li>
            <li data-geometry="Tube">Tube</li>
          </ul>
        </li>
        <li class="submenu-item">
          Light <span class="arrow">&#9656;</span>
          <ul class="submenu right">
            <li data-light="Ambient">Ambient</li>
            <li data-light="Directional">Directional</li>
            <li data-light="Hemisphere">Hemisphere</li>
            <li data-light="Point">Point</li>
            <li data-light="Spot">Spot</li>
          </ul>
        </li>
        <li class="submenu-item">
          Camera <span class="arrow">&#9656;</span>
          <ul class="submenu right">
            <li data-camera="Orthographic">Orthographic</li>
            <li data-camera="Perspective">Perspective</li>
          </ul>
        </li>
      </ul>
    </li>
    <li class="menu-item">View
      <ul class="submenu">
        <li class="toggle-item checked" onclick="toggleCheck(this)">
          <span class="tick"></span>
          <span class="label">Grid Helper</span>
        </li>
        <li class="toggle-item checked" onclick="toggleCheck(this)">
          <span class="tick"></span>
          <span class="label">Camera Helpers</span>
        </li>
        <li class="toggle-item checked" onclick="toggleCheck(this)">
          <span class="tick"></span>
          <span class="label">Light Helpers</span>
        </li>
        <li class="toggle-item checked" onclick="toggleCheck(this)">
          <span class="tick"></span>
          <span class="label">Skeleton Helpers</span>
        </li>
        <li class="divider"></li>
        <li class="fullscreen">Fullscreen</li>
      </ul>
    </li>
    <li class="menu-item">Help
      <ul class="submenu">
        <li>Source Code</li>
        <li>About</li>
        <li>Manual</li>
      </ul>
    </li>
  </ul>
</div>