<div class="toolbar">
  <button class="toolbar-button active" data-tool="select" data-tooltip="Select" data-shortcut="W">
    <img src="assets/icons/select.svg" alt="Select" />
  </button>
  <button class="toolbar-button" data-tool="move" data-tooltip="Move" data-shortcut="G">
    <img src="assets/icons/translate.svg" alt="Move" />
  </button>
  <button class="toolbar-button" data-tool="rotate" data-tooltip="Rotate" data-shortcut="R">
    <img src="assets/icons/rotate.svg" alt="Rotate" />
  </button>
  <button class="toolbar-button" data-tool="scale" data-tooltip="Scale" data-shortcut="S">
    <img src="assets/icons/scale.svg" alt="Scale" />
  </button>

  <div class="toolbar-spacer"></div>

  <div class="mesh-tools hidden">
    <button class="toolbar-button" data-tool="extrude" data-tooltip="Extrude" data-shortcut="E">
      <img src="assets/icons/extrude.svg" alt="Extrude" />
    </button>
    <button class="toolbar-button" data-tool="loopcut" data-tooltip="Loop Cut" data-shortcut="Ctrl R">
      <img src="assets/icons/loopcut.svg" alt="Loop Cut" />
    </button>
    <button class="toolbar-button" data-tool="knife" data-tooltip="Knife" data-shortcut="K">
      <img src="assets/icons/knife.svg" alt="Knife" />
    </button>
    <button class="toolbar-button" data-tool="bevel" data-tooltip="Bevel" data-shortcut="Ctrl B">
      <img src="assets/icons/bevel.svg" alt="Bevel" />
    </button>
  </div>
</div>