<div class="toolbar">
  <button class="toolbar-button active" data-tool="select" data-tooltip="Select" data-shortcut-key="select">
    <img src="assets/icons/select.svg" alt="Select" />
  </button>
  <button class="toolbar-button" data-tool="move" data-tooltip="Move" data-shortcut-key="translate">
    <img src="assets/icons/translate.svg" alt="Move" />
  </button>
  <button class="toolbar-button" data-tool="rotate" data-tooltip="Rotate" data-shortcut-key="rotate">
    <img src="assets/icons/rotate.svg" alt="Rotate" />
  </button>
  <button class="toolbar-button" data-tool="scale" data-tooltip="Scale" data-shortcut-key="scale">
    <img src="assets/icons/scale.svg" alt="Scale" />
  </button>

  <div class="toolbar-spacer"></div>

  <div class="mesh-tools hidden">
    <button class="toolbar-button" data-tool="extrude" data-tooltip="Extrude" data-shortcut-key="extrude">
      <img src="assets/icons/extrude.svg" alt="Extrude" />
    </button>
    <button class="toolbar-button" data-tool="loopcut" data-tooltip="Loop Cut" data-shortcut-key="loopcut">
      <img src="assets/icons/loopcut.svg" alt="Loop Cut" />
    </button>
    <button class="toolbar-button" data-tool="knife" data-tooltip="Knife" data-shortcut-key="knife">
      <img src="assets/icons/knife.svg" alt="Knife" />
    </button>
    <button class="toolbar-button" data-tool="inset" data-tooltip="Inset" data-shortcut-key="inset">
      <img src="assets/icons/inset.svg" alt="Inset" />
    </button>
    <button class="toolbar-button" data-tool="bevel" data-tooltip="Bevel" data-shortcut-key="bevel">
      <img src="assets/icons/bevel.svg" alt="Bevel" />
    </button>
    <button class="toolbar-button" data-tool="edge-slide" data-tooltip="Edge Slide" data-shortcut-key="translate" data-shortcut-repeat="2">
      <img src="assets/icons/edge-slide.svg" alt="Edge Slide" />
    </button>
  </div>
</div>