<div class="viewport-controls">
  <select class="mode-select" id="interaction-modes">
    <option value="object" selected>OBJECT MODE</option>
    <option value="edit">EDIT MODE</option>
  </select>

  <div id="right-controls-container">
    <select class="camera-select" id="cameraDropdown">
      <option value="perspective-camera" selected>CAMERA</option>
    </select>
    
    <select class="shading-select" id="shading-modes">
      <option value="material">MATERIAL</option>
      <option value="solid" selected>SOLID</option>
      <option value="normal">NORMAL</option>
      <option value="wireframe">WIREFRAME</option>
    </select>
  </div>
</div>