<div class="viewport-controls">
  <select class="mode-select" id="interaction-modes">
    <option value="object" selected>OBJECT MODE</option>
    <option value="edit">EDIT MODE</option>
  </select>

  <div class="selection-mode hidden">
    <button class="selection-button active" data-tool="vertex" data-tooltip="Vertex Select">
      <img src="assets/icons/point-select.svg" alt="Select" />
    </button>
    <button class="selection-button" data-tool="edge" data-tooltip="Edge Select">
      <img src="assets/icons/edge-select.svg" alt="Select" />
    </button>
    <button class="selection-button" data-tool="face" data-tooltip="Face Select">
      <img src="assets/icons/face-select.svg" alt="Select" />
    </button>
  </div>

  <div class="middle-controls-container">
    <select class="transform-orientation-select" id="transform-orientation">
      <option value="world" selected>GLOBAL</option>
      <option value="local">LOCAL</option>
    </select>

    <button class="snap-button" id="snap-button">
      <img class="snap-off" src="assets/icons/snap.svg" alt="Snap Off"/>
      <img class="snap-on" src="assets/icons/snapping.svg" alt="Snap On"/>
    </button>

    <select class="snapping-to-select" id="snapping-to">
      <option value="vertex" selected>VERTEX</option>
      <option value="edge">EDGE</option>
      <option value="face">FACE</option>
    </select>
  </div>

  <div class="right-controls-container" id="right-controls-container">
    <button class="xray-button" id="xray-button">
      <img src="assets/icons/xray.svg" alt="X-Ray"/>
    </button>

    <select class="camera-select" id="cameraDropdown">
      <option value="perspective-camera" selected>CAMERA</option>
    </select>
    
    <select class="shading-select" id="shading-modes">
      <option value="material">MATERIAL</option>
      <option value="solid" selected>SOLID</option>
      <option value="normal">NORMAL</option>
      <option value="wireframe">WIREFRAME</option>
    </select>
  </div>
</div>